<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action = "http://localhost:5000/form" method="post">
  <select id="menu" name = "mn">
    <option value="12,50 ">Menù adulti - carne</option>
    <option value="5.99 ">Menù bimbo fino a 12 anni</option>
    <option value="13.99 ">Menù adulti - pesce</option>
    <option value="9.99 ">Menù adulti - vegetariano</option>
  </select>
    <input type="submit" value="Conferma menù"/>
  </form>

</body>
</html>