<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>Benvenuto nella home page dell'autosalone</h2>
<div>Se vuoi esplorare la nostra offerta clicca sul pulsante

       <form action = "http://localhost:5000/listaCar">
        <input type = "submit" value = "Scegli la tua auto" />
    </form>
</div>
<div>Se sei un anniminastratore clicca sul pulsante

       <form action = "http://localhost:5000/admin">
        <input type = "submit" value = "Accedi" />
    </form>
</div>



</body>
</html>