<label for="cars" xmlns="http://www.w3.org/1999/html">Choose a car:</label>
<form  action = "http://localhost:5000/login" method = "post">
<select  id="cars" name="pm">
  <option value="Volvo,30000" >Volvo</option>
  <option value="Saab,20000">Saab</option>
  <option value="Mercedes,40000">Mercedes</option>
  <option value="Audi,25000">Audi</option>
  </select>
  <select  id="colori" name="rm">
  <option value="rossa" >Rossa</option>
  <option value="blu">Blu</option>
  <option value="nera">Nera</option>
  <option value="grigia">Grigia</option>
  </select>
  <p> Inserisci il tuo indirizzo email: <input type = "text" name = "xm" /></p>
  <input type = "submit" value = "Scegli la tua auto" />

</form>