<!DOCTYPE html>

<html lang="it">

    <head>

        <title>Menù</title>

    </head>



    <body>



      <form action="http://localhost:5000/login">

          <p>Primo piatto:</p>

          <select name="firstPlate">

            <option value="10">Pasta al sugo</option>

            <option value="20">Lasagna</option>

            <option value="15">Carbonara</option>

            <option value="15">Amatriciana</option>

          </select>



          <br />

          <p>Secondo piatto:</p>

          <select name="secondPlate">

            <option value="15">Filetto di Maiale</option>

            <option value="8">Cotoletta</option>

            <option value="20">Bistecca di Cavallo</option>

            <option value="10">Filetto di Salmone</option>

          </select>



          <br />

          <p>Contorno:</p>

          <select name="thirdPlate">

            <option value="5">Insalata</option>

            <option value="4">Patatine Fritte</option>

            <option value="6">Patate al forno</option>

            <option value="7">Mozzarella</option>

          </select>



          <input type="mail" value="prova@gmail.com" name="email">



          <p></p>



          <input type="submit" value="Visualizza il prezzo" />

      </form>



    </body>

</html>